{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Date/Time</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{item["symbol"]}}</td>
            <td>{{item["shares"]}}</td>
            <td>${{item["price"]}}</td>
            <td>{{item["time"]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}