{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
<table class="table table-striped">
        <thead>
            <tr align="left">
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan=4>CASH</td>
                <td align="left">{{cash}}</td>
            </tr>
        </tfoot>
        <tbody>
            {% for i in range(data|length) %}
            <tr align="left">
                <td>{{data[i].company_data.symbol}}</td>
                <td>{{data[i].company_data.name}}</td>
                <td>{{data[i].shares}}</td>
                <td>${{price[i]}}</td>
                <td>${{price[i]*data[i].shares}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan=4>Grand Total(cash+share's)</td>
                <td align="left">{{total}}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}